{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>資料視覺化 Data visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel='stylesheet' href='{% static "css/nav_bar.css" %}'>
</head>

<body class="w3-light-grey">
    <h1 id="header">資料視覺化 Data visualization</h1>
    <nav id="links">

        <ul class="drop-down-menu">
            <li>
                <a class='dropbtn'>出入境分析</a>
                <!-- <a>出入境分析</a> -->
                <ul>
                    <li><a class='w3-btn'><span>Japan</span></a>
                        <ul>
                            <li>
                                <a id='Japan_vd-btn' href='{% url "japanDashboard" %}'
                                    class='nav-btn w3-btn'><span>各大洲訪日外客數儀表板</span></a>
                            </li>
                            <li>
                                <a id='nfv_Japan-btn' href='{% url "number_foreign2Japan" %}'
                                    class='nav-btn w3-btn'><span>訪日外國旅客人數</span></a>
                            </li>
                            <li>
                                <a id='ftov_Japan-btn' class='nav-btn'><span>訪日外國人消費動向</span></a>
                            </li>
                        </ul>
                    </li>
                    <li><a class='w3-btn'><span>Taiwan</span></a>
                        <ul>
                            <li>
                                <a id='d_Taiwan_t-btn' class='nav-btn'><span>歷年中華民國國民出國目的地人數</span></a>
                            </li>
                            <li>
                                <a id='ofv_Taiwan-btn' class='nav-btn'><span>歷年來台旅客國籍統計</span></a>
                            </li>
                        </ul>
                    </li>
                    <li><a class='w3-btn'><span>South Korea</span></a>
                        <ul>
                            <li>
                                <a id='nt_Korea-btn' class='nav-btn'><span>南韓觀光人數分析</span></a>
                            </li>
                            <li>
                                <a id='fv_Korea_b-btn' class='nav-btn'><span>南韓外國旅客來源分析</span></a>
                            </li>
                            <li>
                                <a id='fv_Korea_p-btn' class='nav-btn'><span>南韓外國旅客數量分析</span></a>
                            </li>
                            <li>
                                <a id="tn_gr_dc-btn" class="nav-btn"><span>南韓外國旅客人數與成長率分析</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="w3-btn"><span>Visualization</span></a>
                        <ul>
                            <li>
                                <a id="aodp-btn" class="nav-btn"><span>South Korea</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>


            <!-- od vender -->
            <li>
                <a class="dropbtn" id="od-drop">台灣開放資料廠商分析</a>
                <ul>
                    <li>
                        <a id="ministry-btn" class="od-btn nav-btn w3-btn"><span>應用資料部會分析</span></a>
                    </li>
                    <li>
                        <a id="data_source-btn" class="od-btn nav-btn w3-btn"><span>資料來源分析</span></a>
                    </li>
                    <li>
                        <a id="corporation-btn" class="od-btn nav-btn w3-btn"><span>廠商分析</span></a>
                    </li>
                </ul>
            </li>

            <!-- GDP -->
            <li>
                <a id="aodp-drop" class="dropbtn">Facts About AODP</a>
                <ul>

                    <li>
                        <a id="aodpcountry-btn" class="nav-btn w3-btn"><span>A country profile of AODP-urban</span></a>
                    </li>
                    <li>
                        <a id="aodpfact-btn" class="nav-btn w3-btn"><span>Facts about AODP Members</span></a>
                    </li>
                    <li>
                        <a id="gdp-btn" class="nav-btn w3-btn"><span>Economic Outlook of AODP Economies</span></a>
                    </li>
                    <li>
                        <a id="co2-btn" class="nav-btn w3-btn"><span>AODP's CO<span style="font-size: 0.1px">2</span>
                                production volume</span></a>
                    </li>
                    <li>
                        <a id="gdp-co2-btn" class="nav-btn w3-btn"><span>The correlation between CO<span
                                    style="font-size: 0.1px">2</span> and GDP</span></a>
                    </li>
                </ul>

            </li>

            <!-- Nantou -->
            <li>
                <a id="nantou-drop" class="dropbtn">數字南投學</a>
                <ul>
                    <li>
                        <a id="population-btn" class="nav-btn w3-btn"><span>人口</span></a>
                    </li>
                    <li>
                        <a id="medical-btn" class="nav-btn w3-btn"><span>醫療</span></a>
                    </li>
                    <li>
                        <a id="m_vs_p-btn" class="nav-btn w3-btn"><span>醫療 vs 人口</span></a>
                    </li>
                    <li>
                        <a id=" " class="nav-btn w3-btn"><span>治安重要統計指標</span></a>
                    </li>
                </ul>
            </li>

            <!-- Others -->
            <li>
                <a id="other-drop" class="dropbtn">其他</a>
                <ul>
                    <!-- covid-19 -->
                    <li>
                        <a id="andac_Country-btn" class="dropbtn nav-btn w3-btn"><span>COVID-19各地區累積病例與死亡數分析</span></a>
                    </li>
                    <!-- dengue_fever -->
                    <li>
                        <a class="dropbtn" id="df-drop">台灣登革熱分析</a>
                        <ul>
                            <li>
                                <a id="dfd-btn" class="nav-btn w3-btn"><span>台灣登革熱分析(一)</span></a>
                            </li>
                            <li>
                                <a id="dfs-btn" class="nav-btn w3-btn"><span>台灣登革熱分析(二)</span></a>
                            </li>
                        </ul>
                    </li>
                    <!-- cancer -->
                    <li>
                        <a id="cancer-btn" class="dropbtn nav-btn w3-btn"><span>台灣癌症分析</span></a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>

    {% block introduction %}
    {% endblock %}

    <hr>

    {% block content %}
    {% endblock %}
</body>

<script>

</script>

{% block extra_scripts %}
{% endblock %}

</html>